body{
    background-color: black;
    color:white;
}

.heading{
    text-align: center;

}

.para{
    text-align: center;

}
video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1; /* Send the video to the background */
}